html, body {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}  
  
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: lightblue;
}
@media screen and (max-width: 480px) {
  p {
    color: blue;
}